.days{
    background-color: burlywood;color: red;
}
.end{
    background-color: cadetblue;color: red;
}
.monday{
    background-color: blueviolet;color: chartreuse;
}
.ten{ background-color: blueviolet;color: chartreuse;
}
.tuesday{
    background-color: aqua;
}
.two{
    background-color: aqua;
}
.Any{
    background-color: aqua;}
.wednesday{
    background-color: darkkhaki;color: darkgreen;
}